.hotel-filter {
    min-height: 412px;
    background: url(/images/catalog-background.jpg) no-repeat center;
    background-size: cover;
    padding: 35px 70px 0;
}

.filter-title {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    margin: 0 0 8px;
  }
  
.filter-header {
    padding-bottom: 40px;
  }
  
.breadcrumbs {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.infostructure,
.type-of-housing {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  color: #ffffff;
}

.type-of-housing-title,
.infostructure-title,
.price-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.type-of-housing-list,
.infostructure-list {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.infostructure-title,
.type-of-housing-title,
.price-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.infostructure-item,
.type-of-housing-item {
  margin-bottom: 15px;
}

.infostructure-item:last-child,
.type-of-housing-item:last-child {
  margin-bottom: 0;
}

.control {
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.control-input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin: 0;
  margin-right: 16px;
}

.price-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.price-button-submit {
    width: 191px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #82B3D3;
    border: none;
    border-radius: 4px;
    padding: 8px 50px;
    margin-bottom: 32px;
}

.price-button-reset {
    width: 191px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 50px;   
}

.catalog-hotels {
    padding: 50px 70px 60px 70px;
  }
  
  .header-catalog-card {
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .header-catalog-card-search {
    margin: 0 auto 0 0;
  }
  
  .select-control {
    width: 292px;
    min-height: 49px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    margin-right: 70px;
  }
  
  .button-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .button-item {
    width: 48px;
    min-height: 48px;
    margin-right: 8px;
    border: 2px solid #e5e5e5;
  }
  
  .button-item-select {
    border: 2px #000000 solid;
    border-radius: 4px;
  }
  
  .button-item:last-child {
    margin-right: 0;
  }
  
  .card {
    background: url(/icons/catalog-card/catalog.svg) no-repeat center;
  }
  
  .list {
    background: url(/icons/catalog-card/list.svg) no-repeat center;
  }
  
  .one {
    background: url(/icons/catalog-card/one.svg) no-repeat center;
  }
  
  .hostel-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 18px;
    list-style-type: none;
    margin-bottom: 80px;
  }

  .hostel-card {
    list-style-type: none;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 16px;
  }

  .hostel-card-image {
    display: block;
    width: 100%;
  }

.hostel-card-link {
    display: block;
}

  .hostel-image {
    display: block;
  }

  .hostel-card-title {
    width: 100%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

.hostel-type {
    width: 140px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hostel-price {
    text-align: right;
    width: 140px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hostel-detailed {
    width: 140px;
    text-align: center;
}

.hostel-detailed-link {
    display: block;
    text-decoration: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #756157;
    border-radius: 4px;
    padding: 8px 26px;
}

.hostel-favorites {
    width: 140px;
    text-align: center;
}

.hostel-favorites-link {
    display: block;
    text-decoration: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #82B3D3;
    padding: 8px;
    border-radius: 4px;
}

.favorite {
    background: #7DB54F;
}
  
.hostel-stars {
    width: 140px;
}

.hostel-rating {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    padding: 8px 22px;
    background: #F2F2F2;
    border-radius: 4px;
}

  .pagination {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 8px;
  }
  
  .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #82b3d3;
    border-radius: 4px;
  }
  
  .pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .pagination-submit {
    color: #000000;
    background: #f2f2f2;
  }
  
  .pagination-none {
    background: none;
    color: #000000;
  }
  
  .catalog-subscription {
    min-height: 415px;
    background-size: cover;
    padding: 96px 258px 104px;
    text-align: center;
}
  