.navigation-logo-image {
    display: block;
    position: absolute;
}

.navigation-list-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation-list-link {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.navigation-list-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: flex-start;
}

.navigation-item-search {
    display: block;
    width: 44px;
    height: 64px;
    background: url(/icons/header/search.svg) no-repeat center;  
}

.navigation-link-search {
    width: 100%;
    height: 100%;
    display: block;
}

.navigation-item-heart {
    display: block;
    width: 44px;
    height: 64px;
    background: url(/icons/header/heart.svg) no-repeat center;
    margin-right: 20px;
}

.navigation-link-heart {
    width: 100%;
    height: 100%;
    display: block;
}

.navigation-item-button {
    height: 64px;
    padding: 14px 0;
}

.navigation-link-button {
    display: block;
    padding: 8px 34px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background: #756157;
    border-radius: 4px;
}