
/* fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}    

html {  
  height: 100%;
  box-sizing: border-box;
}

/* buttons */
/* button-browns */
.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #756157;
}
.button-brown:active {
  background-color: #756157;
}
.button-brown {
  background-color: #756157;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.body-container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.header-container {
  padding: 0 70px;
}

/* navigation */
.navigation-container {
  display: grid;
  grid-template-columns: 140px 2fr 1fr;
  gap: 28px;
}

.navigation-logo {
  display: block;
  margin-bottom: -20px;
}

.navigation-list-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
}

.navigation-list-link {
  text-decoration: none;
  color: #000000;
}

.navigation-list-links .navigation-list-link {
  display: block;
  padding: 20px 16px;
  text-transform: capitalize;
}

.navigation-list-icons {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-list-icons .navigation-list-link {
  display: block;
  margin: 24px 13px;
}

.navigation-list-item .button-brown {
  padding: 8px 34px;
  color: #ffffff;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 14px 0 14px 20px;
}

/* main */
.main-container {

}
.footer-container {
}