
/* fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}    

html {  
  height: 100%;
  box-sizing: border-box;
}

/* buttons */
/* button-browns */
.button-brown {
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
}

.button-brown:hover {
  background-color: #756157;
}
.button-brown:active {
  background-color: #756157;
}
.button-brown {
  background-color: #756157;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.body-container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.header-container {
  padding: 0 70px;
}

/* navigation */
.navigation-container {
  display: grid;
  grid-template-columns: 140px 3fr 1fr auto;
  grid-template-rows: auto;
  gap: 28px;
}

.navigation-logo-link {
  display: block;
  margin-bottom: -20px;
}

.navigation-list-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-list-link {
  text-decoration: none;
  color: #000000;
}

.navigation-list-links .navigation-list-link {
  display: block;
  padding: 20px 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list-items {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-list-items .navigation-list-link {
  display: block;
  padding: 10px;
}

.navigation-button {
  display: inline-block;
  padding: 8px 34px;
  
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

/* main */
.main-container {

}
.footer-container {
}