
/* fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}    

html {  
  height: 100%;
  box-sizing: border-box;
  background: #F2F2F2;
}

/* buttons */
/* button-browns */
.button-brown {
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
}

.button-brown:hover {
  background-color: #615048;
}
.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.button-brown:disabled {
  background-color: #E5E5E5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.body-container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* header */
.header-container {
  padding: 0 70px;
}

/* navigation */
.navigation-container {
  display: grid;
  grid-template-columns: 140px 28px 3fr 1fr 20px 160px;
}

.navigation-logo-link {
  grid-column: 1/2;
  margin-bottom: -10;
  display: block;
}

.navigation-list-links {
  grid-column: 3/4;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-list-links .navigation-list-link {
  display: block;
  position: relative;
  padding: 20px 16px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-list-link-current::before {
  position: absolute;
  right: 16px;
  left: 16px;
  height: 2px;
  bottom: -1px;
  background-color: #756157;
  content: "";
}

.navigation-list-items {
  grid-column: 4/5;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigation-list-items .navigation-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 44px;
  color: #000000;
}

.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  grid-column: 6/7;
}

.navigation-button-link {
  padding: 8px 34px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* main */
/* .main-container {

}
.footer-container {
} */